.float {
    width: 100%;
    height: 241px;
}

.float img {
    float: left;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 18px;
}

.float-text {
    padding-top: 57px;
}

.float-text span {
    display: block;
}

.float-text span:first-of-type {
    margin-bottom: 9px;
}

