body {
    font-family: 'Roboto', sans-serif;
}

.section {
    background-color: #E5E5E5;
    margin-bottom: 20px;
}

img {
    width: 97px;
}

span {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.16;
    color: #000000;
}

span:last-of-type {
    font-size: 18px;
}